<ion-header>
  <ion-toolbar>
    <ion-title>viewMyBookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row style="background-color: #cdcfd6;;">
        <ion-col>
          <b>Booking Id</b>
        </ion-col>
        <ion-col>
          <b>Session Name</b>
        </ion-col>
        <ion-col>
          <b>Start Time</b>
        </ion-col>
        <ion-col>
          <b>End Time</b>
        </ion-col>
        <ion-col>
          <b>Refund</b>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let p of myBooking; index as i" style="border: 2px solid #aeb7ca;">
        <ion-col> {{p.bookingId}} </ion-col>
        <ion-col> {{p.sessionName}} </ion-col>
        <ion-col> {{p.startTime}}</ion-col>
        <ion-col> {{p.endTime}}</ion-col>
        <ion-col>
          <ion-icon name="cash" style="font-size: 30px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>