<ion-header>
  <ion-toolbar>
    <ion-title>Classes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search..." [(ngModel)]="searchTerm" showCancelButton="focus" cancelButtonText="Custom Cancel" autocomplete="true"  debounce="500"  animated="true" (ionChange)="filterList($event)" (ionInput)="filterList($event)"></ion-searchbar>
  <!-- <ion-list>
    <ion-item *ngFor="let data of locationTypeEnum ; let i= index;" (ionSelect)="filterList(data)" >
      <ion-label>{{data}}</ion-label>
    </ion-item>
  </ion-list> -->

<ion-card *ngFor="let p of filterClass;">
  <ion-card-header>
    <ion-card-title>{{p.className}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <img src="../../../assets/picture.jpeg" style="max-width:100%;max-height:70%;">
      <br>

    <ion-label>Credits per Class : ${{p.credit}}</ion-label>
  <br>
    <ion-label>Location : {{p.locationTypeEnum}}</ion-label>
    <br>
    
    <ion-item>
      <ion-button float-right  fill="outline" slot="end" (click)="viewSessionsDetails($event, p)">View Session Schedule</ion-button>
      <ion-button float-right  fill="outline" slot="end" (click)="viewClassDetails($event,p)">View More</ion-button>
    </ion-item>
    <ion-item>
      
    </ion-item>

  </ion-card-content>
  
</ion-card>    

</ion-content>
