<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="bookings">
      <ion-icon name="sunny">
      </ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pastBookings">
      <ion-icon name="sunny">
      </ion-icon>
      <ion-label>Past Bookings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transactionHistory">
      <ion-icon name="sunny">
      </ion-icon>
      <ion-label>Transaction History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>>