<ion-header>
  <ion-toolbar>
    <ion-title>Buy Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label><b>Current Plan</b></ion-label>
      <div *ngIf="currentPlan != null">ACTIVE</div>
    </ion-item>
  </ion-card>
    <ion-card *ngFor="let p of allPlans; let i = index">
      <ion-card-header>
        <ion-card-title>{{p.planName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <ion-label>Price: ${{p.price}}</ion-label>
      <br>
        <ion-label>Session Limit: {{p.sessionLimit}}</ion-label>
        <br>

        <ion-label>CreditLimit: {{p.creditValue}}</ion-label>
          <ion-button expand="block" (click)="openPlan(p)" >
            Buy
          </ion-button>

      </ion-card-content>
      
    </ion-card>    
</ion-content>
