<ion-header>
  <ion-toolbar>
    <ion-title>Index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>      
    <ion-card-header>        
      <ion-card-title>Welcome to Hipnature</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
      </p>
      <ul style="margin-left: 20px;">
        <li>Welcome to Hipnature</li>
      </ul>
    </ion-card-content>
    
  </ion-card>
  <app-register>
  </app-register>
</ion-content>

<ion-footer>
	<ion-toolbar>
	  <ion-title>&copy; 2021 IS3106.</ion-title>
	</ion-toolbar>
</ion-footer>
