<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="{{profile?.image}}" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{currentCustomer.customerName}}</h3>
      <h5 class="country">{{currentCustomer.email}}</h5>
      <h6 class="ranking">Current Category: <ion-chip>
        <ion-label>{{currentCustomer.customerTypeEnum}}</ion-label>
        </ion-chip>
      </h6>
    </div>
    <ion-button expand="full" color="primary" >View My Booking</ion-button>
    <ion-button expand="full" color="secondary">View My Current Plan</ion-button>
  </div>

  <form #updateCustomer="ngForm" (ngSubmit)="create(updateCustomer)">
    <ion-card>

      <ion-card-content>

        <div *ngIf="resultSuccess == true" style="color: blue;">
          {{message}}
        </div>

        <div *ngIf="resultError == true" style="color: red;">
          {{message}}
        </div>

        <div style="color: red;">

          <div *ngIf="customerName.invalid && (customerName.dirty || customerName.touched || submitted)" class="errorText">
            <div *ngIf="customerName.errors.required">
              Description is required.
            </div>
          </div>
        </div>

        <ion-list>

          <ion-item>
            <ion-label><b>Username :</b></ion-label>
            <ion-input type="username" id="username" name="username" [(ngModel)]="currentCustomer.username" required="true" #username="ngModel">
            </ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label><b>Name :</b></ion-label>
            <ion-input type="text" id="customerName" name="customerName" [(ngModel)]="currentCustomer.customerName"
              required="true" #customerName="ngModel"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label><b>Email :</b></ion-label>
            <ion-input type="text" id="email" name="email" [(ngModel)]="currentCustomer.email" required="true" #emai="ngModel">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label><b>Phone :</b></ion-label>
            <ion-input type="number" id="phone" name="phone" [(ngModel)]="currentCustomer.phone" required="true" #phone="ngModel">
            </ion-input>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>

    <ion-card style="text-align: center;">

      <ion-card-content>
        <ion-button type="submit" ion-button block>
          Update
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
