<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end"> 
      <ion-button float-right  fill="outline" slot="end" (click)="editCustomer($event)">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="{{profile?.image}}" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{currentCustomer.customerName}}</h3>
      <h5 class="country">{{currentCustomer.email}}</h5>
      <h6 class="ranking">Current Category: <ion-chip>
        <ion-label>{{currentCustomer.customerTypeEnum}}</ion-label>
        </ion-chip>
      </h6>
    </div>
    <ion-button expand="full" color="primary"  (click)="booking($event)">View My Booking</ion-button>
    <ion-button expand="full" color="secondary" (click)="plan($event)">View My Payment Details</ion-button>
  </div>

  
</ion-content>
