<ion-header>

	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="back()">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>View Class Details {{classId}}</ion-title>
	</ion-toolbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="retrieveClassError == false && classToView != null">
    <ion-item>
      <ion-label><b>Class Name</b></ion-label>
      {{classToView.className}}
    </ion-item>
    <ion-item>
      <ion-label><b>Class Credits</b></ion-label>
      {{classToView.credit}}
    </ion-item>
    <ion-item>
      <ion-label><b>Class Location</b></ion-label>
      {{classToView.locationTypeEnum}}
    </ion-item>    
    <ion-item >
      <ion-button float-right  fill="outline" slot="end" (click)="viewSessionsDetails($event, classToView.classId)">View Sessions Schedule</ion-button>
    </ion-item>
  </ion-list >

  <br>
  <ion-label><b>Create a review</b></ion-label>

  <ion-content>
    <form #createReviewForm="ngForm" (ngSubmit)="create(createReviewForm)">
      <ion-card>
  
        <ion-card-content>
  
          <div *ngIf="resultSuccess == true" style="color: blue;">
            {{message}}
          </div>
  
          <div *ngIf="resultError == true" style="color: red;">
            {{message}}
          </div>
  
          <div style="color: red;">
  
            <div *ngIf="description.invalid && (description.dirty || description.touched || submitted)" class="errorText">
              <div *ngIf="description.errors.required">
                Description is required.
              </div>
            </div>
  
            
  
            
  
          </div>
  
          <ion-list>
  
           
            <ion-item>
              <ion-label><b>Description</b></ion-label>
              <ion-input type="text" id="description" name="description" [(ngModel)]="newReview.description"
                required="true" #description="ngModel"></ion-input>
            </ion-item>
  
           
  
            <ion-item>
              <ion-label><b>Product Rating</b></ion-label>
              <ion-range min="1" max="5" id="reviewRating" name="reviewRating" [(ngModel)]="newReview.reviewRating"
                required="true" #productRating="ngModel">
                <ion-label range-left>1</ion-label>
                <ion-label range-right>5</ion-label>
              </ion-range>
            </ion-item>
  
          </ion-list>
  
        </ion-card-content>
  
      </ion-card>
  
      <ion-card style="text-align: center;">
  
        <ion-card-content>
          <ion-button (click)="clear()">
            Clear
          </ion-button>
          <ion-button type="submit" ion-button block>
            Create
          </ion-button>
        </ion-card-content>
  
      </ion-card>

  
    </form>
  
    <ion-item>
      <ion-label><b>Reviews</b></ion-label>
    </ion-item>
    <ion-card *ngFor="let p of reviews; let i = index">
      <ion-card-header>
        <ion-card-title>{{p.reviewId}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <ion-label>{{p.reviewRating}}</ion-label>
      <br>
        <ion-label>{{p.description}}</ion-label>
        <br>


      </ion-card-content>
      
    </ion-card>    
  </ion-content>
  
</ion-content>
